{% extends "views/common/layout.html" %}

{% block header %}
  {% include "views/common/header.html" %}
{% endblock %}

{% block body %}
<header>{{ department }}</header>
<div>
  <div>name: {{name}}</div>
  <div>age: {{age}}</div>
  {% if salary > 500 %}
    <div>大于500</div>
  {% else %}
    <div>小于等于500</div>
  {% endif %}
  <span>居住地址</span>
  <ul>
    {% for address in address %}
      <li>{{address}}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}


{% block footer%}
  {% include "views/common/footer.html" %}
{% endblock%}